<form action="/carSearch">
    <div class="select">
        <label for="brandSelect">品牌：</label>
        <select name="brandId" id="brandSelect" class="form-control">
            <option selected value="">选择品牌</option>
            {{each brandList}}
                {{if brandId == $value.id}}
                <option value="{{$value.id}}" selected>{{$value.name}}</option>
                {{else}}
                <option value="{{$value.id}}">{{$value.name}}</option>
                {{/if}}
            {{/each}}
        </select>
    </div>
    <div class="select">
        <label for="factorySelect">厂商：</label>
        <select name="factoryId" id="factorySelect" class="form-control">
            <option selected value="">选择厂商</option>
            {{each factoryList}}
                {{if factoryId == $value.factoryId}}
                <option value="{{$value.factoryId}}" selected>{{$value.factoryName}}</option>
                {{else}}
                <option value="{{$value.factoryId}}">{{$value.factoryName}}</option>
                {{/if}}
            {{/each}}
        </select>
    </div>
    <div class="select">
        <label for="seriesSelect">车系：</label>
        <select name="seriesId" id="seriesSelect" class="form-control">
            <option selected value="">选择车系</option>
            {{each seriesList}}
                {{if seriesId == $value.id}}
                <option value="{{$value.id}}" selected>{{$value.name}}</option>
                {{else}}
                <option value="{{$value.id}}">{{$value.name}}</option>
                {{/if}}
            {{/each}}
        </select>
    </div>
    <input id="searchSubmit" type="submit" value="搜索" class="btn btn-primary">
</form>
